<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1>All Events</h1>
<nav th:replace="fragments :: navigation"></nav>
<p th:unless="${events} and ${events.size()}">No Events</p>
<table th:if="${events} and ${events.size()}" class="table table-striped" >
<tr>
    <th>Name</th><th>Description</th><th>Address</th>
</tr>
<tr th:each="event :${events.entrySet()}">
    <td th:text="${event.getKey()}"></td>
    <td th:text="${event.getValue()}"></td>
    <td><p th:replace= "fragments :: address"></p></td>
</tr>
</table>
</body>
</html>